<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand text-decoration-none" href="/"><%= title %></a>
    <div class="d-flex">
      <a class="btn btn-info text-decoration-none" href="/new"
        >Add New Message</a
      >
    </div>
  </div>
</nav>
